langchain
langgraph
langchain-core
langchain-groq
langchain-qdrant
langchain-tavily
langchain-google-genai

pypdf
pydantic
python-dotenv
qdrant-client

fastapi
fastapi[standard]
uvicorn[standard]
python-multipart
sqlalchemy[asyncio]

passlib[bcrypt]
python-jose[cryptography]
pwdlib[bcrypt]

asyncpg
langgraph-checkpoint-postgres
psycopg[binary,pool]