langchain
langgraph
langchain-core
langchain-groq
langchain-community
langchain-qdrant
langchain-tavily
pypdf
pydantic
python-dotenv
qdrant-client

langgraph-checkpoint-sqlite 
aiosqlite

fastapi
uvicorn[standard]
python-multipart
sqlalchemy[asyncio]
aiosqlite
passlib[bcrypt]
python-jose[cryptography]

sentence-transformers